{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Librería Online</title>
    <link rel="stylesheet" href="{% static 'css/estilos.css' %}">
</head>
<body>

    <header>
        <div class="header-container">
            <h1>📚 Librería Online</h1>
            <!-- 🔹 Botón de acceso al admin -->
            <a href="/admin/" class="btn-admin-top">🛠️ Admin</a>
        </div>
        <nav>
            <a href="/">Inicio</a>
            {% for cat in categorias %}
                <a href="{% url 'categoria' cat.id %}">{{ cat.nombre }}</a>
            {% endfor %}
        </nav>
    </header>

    <main>
        {% block content %}{% endblock %}
    </main>

    <footer>
        <p>Desarrollado por Jordan Becerra © 2025</p>
    </footer>

</body>
</html>
